<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @reservation.name %>
</p>

<p>
  <b>Number in party:</b>
  <%= @reservation.number_in_party %>
</p>

<p>
  <b>Confirmed:</b>
  <%= @reservation.confirmed %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
